body{
  display: grid;
  place-items: center;
  height: 100vh;
}

input{
  padding: 8px 14px;
  border-radius: 4px;
  outline: none;
  border: 2px solid #031138;
  display: block;
  font-size: 16px;
  margin: 5px;
}
.container{
  text-align: center;
}
.img{
  margin: 10px;
  height: 150px;
}
button{
  background: #06216B;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  display: block;
  margin: 15px auto;
  cursor: pointer;
  transition: 0.5s;
}
button:hover{
  opacity: .8;
}